<div class="container">
    <main class="table" id="customers_table">
        <section class="table__header">
            <h1>Gestion Categorie</h1>
            <div class="input-group">
                <input type="search" placeholder="rechercher categorie...">

            </div>
            <button class="ajoutebtn" >Ajouter</button>
            <div class="export__file">
                <label for="export-file" class="export__file-btn" title="Export File"></label>
                <input type="checkbox" id="export-file">

            </div>
        </section>
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th> Id </th>
                        <th> Libelle</th>
                        <th> Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>  </td>
                        <td> </td>
                        
                        <td>
                            <p class="supprimer">supprimer</p>
                        </td>
                        
                        <td><button div class="modifierbtn">Modifier</button></td>
                    </tr>




                </tbody>
            </table>
        </section>
    </main>
</div>
