<div class="container">
    <main class="table" id="customers_table">
        <section class="table__header">
            <h1>Gestion Clients</h1>
            <div class="input-group">
                <input type="search" placeholder="rechercher Client..">

            </div>
            
            <div class="export__file">
                <label for="export-file" class="export__file-btn" title="Export File"></label>
                <input type="checkbox" id="export-file">

            </div>
        </section>
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th> Id </th>
                        <th> Nom&Prenom </th>
                        <th> addresse </th>
                        <th>Num Tel </th>
                        <th> Date Nais</th>
                        <th> Num Tel </th>
                        <th> status</th>
                        <th> Action </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>  </td>
                        <td> </td>
                        <td>  </td>
                        <td>  </td>
                        <td></td>
                        <td></td>
                        <td>
                            <p class="status activé">activé</p>
                        </td>
                        
                        <td><button div class="modifierbtn">valider</button></td>
                    </tr>




                </tbody>
            </table>
        </section>
    </main>
</div>